@media only screen and (max-width: 1300px){
    

    .news-post-large__img{
        padding-bottom: 56.25% !important;
    }
    .news-post__img{
        padding-bottom:25% !important;
     }
     .news-post-small__img{
        padding-bottom: 30% !important;
    }
}

@media only screen and (max-width: 1200px){
    .calendar-table__h{
        display: none
    }

    .table-h__mobile{
        display:block;
    }
}

@media only screen and (max-width: 1060px) {

    .news-block-wrapper {
        margin:0px;
     }

    .navbar{
        padding: 0;
    }

    .navbar-brand{
        margin: 0;
    }

    .news-post-small__img{
        padding-bottom: 25% !important;
    }

    .news-post-large__img{
        padding-bottom: 28% !important;
    }
    .news-post__img{
        padding-bottom: 30% !important;
     }

    .about-img{
        padding-bottom:40% !important;
    }

    .table-h{
    display:none;
    }
}

@media only screen and (max-width: 767.8px){
    html{
        font-size: 0.8rem;
    }

    .news-block-wrapper {
        margin-right: 20px !important;
     }

    .navbar-brand{
        margin-top: 2rem;
        margin-right: 0 !important;
    }

    .logo__img{
        margin-right: 0px !important;
    }

    .calendar-list{
        font-size: 0.8rem;
    }

    .calendar-list .post-meta{
        font-size: 0.7rem;
        margin-bottom: 0.5rem ;
        margin-top: 1rem;
    }

    .post-meta{
        font-size: 0.8rem;
    }

    .title{
        margin-bottom: 0.5rem !important;
    }

    .partners__item img {
        max-width: 50%;
        max-height:50%;
     }

     .news-post-large__img{
        padding-bottom: 50% !important;
    }

    .news-post-small__img{
        padding-bottom: 40% !important;
    }

     .news-post__img{
        padding-bottom: 50% !important;
     }

     .navbar-toggler{
         margin-top: 1rem;
     }
}

@media only screen and (max-width: 576px) {
    .partners__item img {
        max-width: 30%;
        max-height:30%;
     }

    .logo__img{
        max-width: 70%;
        max-height:70%;
    }
}

.calendar-download:hover{
    text-decoration:none;
}