.news-block__form{
    min-width:583px; 
    min-height:56px;
}

.news-post-large__img{
    position: relative !important;
    width: 100% !important;
    padding-bottom: 40% !important;
    overflow: hidden !important;
}

.news-post-large__img img{
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
    overflow: hidden !important;
    top: 0 !important;
    left: 0 !important;
}

.news-post-small__img{
    position: relative !important;
    width: 100% !important;
    padding-bottom: 25% !important;
    overflow: hidden !important;
}
.news-post-small__img img{
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
    overflow: hidden !important;
    top: 0 !important;
    left: 0 !important;
}

.page-link:active{
    background: #175EAA;
    color: #fff !important;
}

.news-page-search{
    padding-left: 0 !important;
}

.container{
    padding-left: 15px !important;
    padding-right: 15px !important;
}