.news-block__form{
    min-width:583px; 
    min-height:56px;
}

.page-link{
    
}


.page-link:active{
    background: #175EAA;
    color: #fff !important;
}

.news-page-search{
    padding-left: 0 !important;
}

.container{
    padding-left: 15px !important;
    padding-right: 15px !important;
}