@import "media.css";

html{
   font-size: 1rem;
}

* {
   padding: 0;
   margin: 0;
   font-family: "Noto Sans", sans-serif;
}

*,
::after,
::before {
   box-sizing: border-box;
}

a{
   text-decoration: none!important;
   color: inherit;
}

a:hover{
   color: inherit;
}

.container {
   max-width: 1600px;
}

.post-meta{
   font-size: 14px;
   line-height: 19px;
}

/* ============================================================================== */




.form-header {
   max-width: 213px;
   min-height: 56px;
   border: none;
}

.nav li {
   font-weight: 500;
   font-size: 16px;
   line-height: 22px;
}

/* ================================================================================ */

.news-block-wrapper {
   margin-right: 65px;
   
}

.news-post__img{
   position: relative !important;
   width: 100% !important;
   padding-bottom: 20% !important;
   overflow: hidden !important;
   
}

.news-post__img img{
   position: absolute !important;
   width: 100% !important;
   height: 100% !important;
   object-fit: cover !important;
   object-position: center !important;
   overflow: hidden !important;
   top: 0 !important;
   left: 0 !important;
}


.carousel-control-prev-icon{
   background: url(/src/assets/img/Vector\ 68.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.carousel-control-next-icon{
   background: url(/src/assets/img/Vector\ 69.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.carousel-indicators{
   position: absolute;
   bottom: -40px;
}

.carousel-indicators li{
   background: #9B9B9B ;
   width: 6px;
   height: 6px;
   border-radius: 5px;
   
}

.carousel-indicators .active{
   background: #ff0000;
   width: 8px;
   height: 8px;
   border-radius: 5px;
   
}

.carousel-partners{
   position: relative!important;
}
.carousel-partners__indicator{
   position:absolute;
   right: 40px;
   top:-35px;
}

.carousel-sponsors{
   position: relative!important;
}
.carousel-sponsors__indicator{
   position:absolute;
   right: 40px;
   top:-35px;
}

.calendar-preview__link {
   color: #ff0000;
}

.feedback-form__input {
   max-width: 338px;
   min-height: 56px;
}

.feedback-form__btn {
   max-width: 338px;
   height:56px;
   background: #175EAA;
   border-radius: 4px;

}

.partners__item img {
   max-width: max-content;
   max-height:max-content;
}

.owl-carousel{
   position: relative;
}

.owl-nav{
   outline: none;
   position: absolute;
   right: 0px;
   top: -100px;
}

.owl-prev:hover, .owl-next:hover{
   background:none!important;
}

.owl-carousel .owl-item img {
   display: block;
   width: 100%;
   margin: 0 auto;
}

/* ================================================================ */
.map-container{
   overflow:hidden;
   padding-bottom:50%;
   position:relative;
   height:0;
}
.map-container iframe{
   left:0;
   top:0;
   height:100%;
   width:100%;
   position:absolute;
}

/* ================================================================ */


.contacts-form__input{
   min-height: 56px;
}

.—Åontact-form__wrapper{
   margin-right: 60px;
}

.contacts-form__btn{
   background-color: #175EAA;
   min-height: 56px;
}

.contacts-form__btn:hover{
   background-color: #175EAA;
}

.btn {
   color: #fff;
   }


/* =============================================================== */

.about-img{
   position: relative !important;
   width: 100% !important;
   padding-bottom: 30% !important;
   overflow: hidden !important;
}

.about-img img{
   position: absolute !important;
   width: 100% !important;
   height: 100% !important;
   object-fit: cover !important;
   object-position: center !important;
   overflow: hidden !important;
   top: 0 !important;
   left: 0 !important;
}


/* ======================================================================= */

.calendar-table__h{
   color: #175EAA!important;
   
}

.table-h__mobile{
   display: none;
   color: #175EAA !important;
}

/* ============================================================================= */

.about-text-grey{
   max-width:779px  ;
}

/* ============================================================================================================= */

.news-block__form{
   min-width:583px; 
   min-height:56px;
   border:none;
}

.news-post-large__img{
   position: relative !important;
   width: 100% !important;
   padding-bottom: 40% !important;
   overflow: hidden !important;
}

.news-post-large__img img{
   position: absolute !important;
   width: 100% !important;
   height: 100% !important;
   object-fit: cover !important;
   object-position: center !important;
   overflow: hidden !important;
   top: 0 !important;
   left: 0 !important;
}

.news-post-small__img{
   position: relative !important;
   width: 100% !important;
   padding-bottom: 25% !important;
   overflow: hidden !important;
}
.news-post-small__img img{
   position: absolute !important;
   width: 100% !important;
   height: 100% !important;
   object-fit: cover !important;
   object-position: center !important;
   overflow: hidden !important;
   top: 0 !important;
   left: 0 !important;
}


.page-link:active{
   background: #175EAA;
   color: #fff !important;
}

.news-page-search{
   padding-left: 0 !important;
}
