@import "media.css";

html{
   font-size: 1rem;
}

* {
   padding: 0;
   margin: 0;
   font-family: "Noto Sans", sans-serif;
}

*,
::after,
::before {
   box-sizing: border-box;
}

.container {
   max-width: 1600px;
}

.post-meta{
   font-size: 14px;
   line-height: 19px;
}

/* ============================================================================== */

.logo__img {
   max-width: max-content;
   max-height: max-content;
}

.logo-text__1 {
   font-size: 21px;
   line-height: 27px;
   margin-bottom: 0;

}

.logo-text__2 {
   font-weight: bold;
   font-size: 21px;
   line-height: 27px;
   margin-bottom: 0;
}

.logo-text__3 {
   font-weight: 500;
   font-size: 13px;
   line-height: 18px;
   margin-bottom: 0;
}

.form-header {
   max-width: 213px;
   min-height: 56px;
}

.nav li {
   font-weight: 500;
   font-size: 16px;
   line-height: 22px;
}

/* ================================================================================ */

.news-block-wrapper {
   margin-right: 65px;
   margin-left: 17px;
}

.news-post__img{
   position: relative !important;
   width: 100% !important;
   padding-bottom: 20% !important;
   overflow: hidden !important;
   
}

.news-post__img img{
   position: absolute !important;
   width: 100% !important;
   height: 100% !important;
   object-fit: cover !important;
   object-position: center !important;
   overflow: hidden !important;
   top: 0 !important;
   left: 0 !important;
}
/* .carousel-news{
   position: absolute;
} */

.carousel-control-prev-icon{
   background: url(/src/assets/img/Vector\ 68.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.carousel-control-next-icon{
   background: url(/src/assets/img/Vector\ 69.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.carousel-indicators{
   position: absolute;
   bottom: -40px;
}

.carousel-indicators li{
   background: #9B9B9B ;
   width: 6px;
   height: 6px;
   border-radius: 5px;
   
}

.carousel-indicators .active{
   background: #ff0000;
   width: 8px;
   height: 8px;
   border-radius: 5px;
   
}

.calendar-preview__link {
   color: #ff0000;
}

.feedback-form__input {
   max-width: 338px;
   min-height: 56px;
}

.feedback-form__btn {
   max-width: 338px;
   height:56px;
   background: #175EAA;
   border-radius: 4px;

}

.partners__item img {
   max-width: max-content;
   max-height:max-content;
}

.owl-carousel{
   position: relative;
}

.owl-nav{
   position: absolute;
   right: 100px;
   top: -50px;
}

